@media (320px <= width <= 480px) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (481px <= width <= 767px) and (orientation: landscape) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (768px <= width <= 1023px) {
  .btn-music {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
}

@media (1024px <= width <= 1199px) {
  .btn-music {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
}

@media (1200px <= width <= 1919px) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (1920px <= width <= 2660px) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (2661px <= width) {
  .btn-music {
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
  }
}

.btn-music {
  text-align: center;
  border-radius: 100%;
  border: none;
  background: linear-gradient(
    -45deg,
    rgba(189, 151, 125, 1) 0%,
    rgb(52, 38, 25) 100%
  );
  /* background: #2f3e5f; */
  color: #dfb21e;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 50;
}

.btn-music .btn-play {
  margin-top: 5px;
  margin-left: 3px;
}

.btn-music .btn-stop {
  margin-top: 5px;
}
