@media (320px <= width <= 480px) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 500px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3,
      .slide-container-4 {
        width: 90%;
        height: 700px;
      }
    }

    .cita {
      width: 90%;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .end-title {
      width: 90%;
      font-size: 2rem;
    }
  }
}

@media (481px <= width <= 767px) and (orientation: landscape) {
}

@media (768px <= width <= 1023px) {
}

@media (1024px <= width <= 1199px) {
}

@media (1200px <= width <= 1919px) {
}

@media (1920px <= width <= 2660px) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 600px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3,
      .slide-container-4 {
        width: 90%;
        height: 700px;
      }
    }

    .cita {
      width: 90%;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .end-title {
      width: 90dvw;
      font-size: 2.7rem;
    }
  }
}

@media (2661px <= width) {
}

.carrusel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;

  .carousel-fade {
    .slide-container-1,
    .slide-container-2,
    .slide-container-3,
    .slide-container-4 {
      background-size: cover;
    }
  }

  .cita {
    color: #342619;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-align: center;
  }

  .end-title {
    color: #342619;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }
}

.slide-container-1 {
  background-image: url("../../assets/slider/1.jpg");
  background-position: top 25% center;
  background-repeat: no-repeat;
}

.slide-container-2 {
  background-image: url("../../assets/slider/2.jpg");
  background-position: top 5% center;
  background-repeat: no-repeat;
}

.slide-container-3 {
  background-image: url("../../assets/slider/3.jpg");
  background-position: top 25% center;
  background-repeat: no-repeat;
}

.slide-container-4 {
  background-image: url("../../assets/slider/4.jpg");
  background-position: top 25% center;
  background-repeat: no-repeat;
}

/* .slide-container-5 {
  background-image: url("../../assets/slider/5.png");
  background-position: top 25% center;
  background-repeat: no-repeat;
} */

.carousel-fade {
  position: relative;
  margin: 20px 50px 20px;
  overflow: hidden;
}

.fade-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.fade-slide.active {
  opacity: 1;
  z-index: 1;
}
