@media (320px <= width <= 480px) {
  .carrusel-container {
    width: 90dvw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel-fade {
      width: 90dvw;
      min-height: 500px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3,
      .slide-container-4 {
        width: 90dvw;
        height: 500px;
        background-size: cover;
      }
    }

    .cita {
      width: 90dvw;
      font-size: 1.2rem;
      color: #342619;
      font-family: "Playfair Display", serif;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px;
    }

    .end-title {
      width: 90dvw;
      font-size: 2rem;
      color: #342619;
      font-family: "Playfair Display", serif;
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

@media (481px <= width <= 767px) and (orientation: landscape) {
  .carrusel-container {
    width: 70dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-container-1,
  .slide-container-2,
  .slide-container-3,
  .slide-container-4,
  .slide-container-5 {
    width: 70dvw;
    height: 700px;
    background-size: cover;
  }

  .carousel-fade {
    width: 90dvw;
    min-height: 700px;
  }

  .cita {
    width: 70dvw;
    font-size: 1.5rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}

@media (768px <= width <= 1023px) {
  .carrusel-container {
    width: 70dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-container-1,
  .slide-container-2,
  .slide-container-3,
  .slide-container-4,
  .slide-container-5 {
    width: 70dvw;
    height: 600px;
    background-size: contain;
  }

  .carousel-fade {
    width: 70dvw;
    min-height: 600px;
  }

  .cita {
    width: 70dvw;
    font-size: 1.5rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}

@media (1024px <= width <= 1199px) {
  .carrusel-container {
    width: 60dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-container-1,
  .slide-container-2,
  .slide-container-3,
  .slide-container-4,
  .slide-container-5 {
    width: 60dvw;
    height: 600px;
    background-size: contain;
  }

  .carousel-fade {
    width: 70dvw;
    min-height: 600px;
  }

  .cita {
    width: 55dvw;
    font-size: 1.5rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}

@media (1200px <= width <= 1919px) {
  .carrusel-container {
    width: 35dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-container-1,
  .slide-container-2,
  .slide-container-3,
  .slide-container-4,
  .slide-container-5 {
    width: 60dvw;
    height: 600px;
    background-size: contain;
  }

  .carousel-fade {
    width: 60dvw;
    min-height: 600px;
  }

  .cita {
    width: 35dvw;
    font-size: 1.5rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}

@media (1920px <= width <= 2660px) {
  .carrusel-container {
    width: 35dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-container-1,
  .slide-container-2,
  .slide-container-3,
  .slide-container-4,
  .slide-container-5 {
    width: 60dvw;
    height: 600px;
    background-size: contain;
  }

  .carousel-fade {
    width: 60dvw;
    min-height: 600px;
  }

  .cita {
    width: 35dvw;
    font-size: 1.7rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}

@media (2661px <= width) {
  .carrusel-container {
    width: 35dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-container-1,
  .slide-container-2,
  .slide-container-3,
  .slide-container-4,
  .slide-container-5 {
    width: 60dvw;
    height: 1200px;
    background-size: contain;
  }

  .carousel-fade {
    width: 60dvw;
    min-height: 1200px;
  }

  .cita {
    width: 25dvw;
    font-size: 2.5rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}

.slide-container-1 {
  background-image: url("../../assets/slider/1.jpg");
  background-position: top 25% center;
  background-repeat: no-repeat;
}

.slide-container-2 {
  background-image: url("../../assets/slider/2.jpg");
  background-position: top 5% center;
  background-repeat: no-repeat;
}

.slide-container-3 {
  background-image: url("../../assets/slider/3.jpg");
  background-position: top 25% center;
  background-repeat: no-repeat;
}

.slide-container-4 {
  background-image: url("../../assets/slider/4.jpg");
  background-position: top 25% center;
  background-repeat: no-repeat;
}

/* .slide-container-5 {
  background-image: url("../../assets/slider/5.png");
  background-position: top 25% center;
  background-repeat: no-repeat;
} */

.carousel-fade {
  position: relative;
  margin: 20px 50px 20px;
  overflow: hidden;
}

.fade-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.fade-slide.active {
  opacity: 1;
  z-index: 1;
}
