* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (320px <= width <= 480px) {
  .container {
    .info {
      width: 100dvw;
      height: 100dvh;
      background-color: #fff;
    }
  }
}

@media (481px <= width <= 767px) {
  .container .info {
    width: 100dvw;
    height: 100dvh;
    /* box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5); */
  }
}

@media (768px <= width <= 1023px) {
  .container .info {
    width: 100dvw;
    /* box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5); */
  }
}

@media (1024px <= width <= 1199px) {
  .container .info {
    width: 100dvw;
    box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
  }
}

@media (1200px <= width <= 1919px) {
  .container .info {
    width: 100dvw;
    box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
    background-color: #fff;
  }
}

@media (1920px <= width <= 2600px) {
  body {
    background-image: url("./assets/paper2.png");
    background-repeat: repeat;
  }

  .container {
    .info {
      width: 30dvw;
      background-color: #fff;
      box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
    }
  }
}

@media (2661px <= width) {
  .container .info {
    width: 50dvw;
    box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}
