* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* background-image: url("./assets/bg2.png"); */
  background-repeat: repeat;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./assets/paper2.png");
  background-repeat: repeat;
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

@media (320px <= width <= 480px) {
  .container .info {
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    /* box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5); */
    /* background-image: url("./assets/paper5.avif"); */
  }
}

/* .container .info {
  width: 30dvw;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
} */
