@media (320px <= width <= 480px) {
  .date-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

    .final-countdown {
      h5 {
        font-size: 2rem;
        font-family: "Playfair Display", serif;
        color: #342619;
      }

      .cita-countdown {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        font-family: "Playfair Display", serif;
        color: #8d7157;
        margin-bottom: -70px;
        z-index: 5;
      }
    }

    img {
      width: 100%;
      margin-bottom: -140px;
      z-index: -1;
    }

    .data-church {
      margin: 30px 0;

      .title-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
          width: 20%;
          margin-top: -160px;
        }

        h2 {
          font-size: 2rem;
          font-family: "Playfair Display", serif;
          color: #342619;
          margin: 0 5px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }

      .title-names {
        font-size: 1.5rem;
        font-family: "Playfair Display", serif;
        color: #342619;
      }

      .direction {
        font-size: 1.2rem;
        font-family: "Playfair Display", serif;
        color: #342619;
      }

      .time {
        font-size: 1.2rem;
        font-family: "Playfair Display", serif;
        color: #342619;
        margin-bottom: 25px;
      }

      a {
        padding: 10px 25px;
        border-radius: 30px;
        font-size: 1.2rem;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);

        .map-icon {
          margin-right: 10px;
        }
      }

      .title-parients {
        font-family: "Playfair Display", serif;
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 5px;
        color: #342619;
      }

      .parients {
        h3 {
          font-family: "Playfair Display", serif;
          font-size: 1.2rem;
          font-weight: 300;
          color: #342619;
        }
      }
    }
  }
}
